* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
    font-family: 'IM Fell DW Pica SC', serif;
    background:url('img/bokeh.jpg') no-repeat fixed;

}

.crazy {
    background-color: darkblue;
    color: white;
    text-align:center;
    padding: 5px;
    font-family: 'IM Fell DW Pica SC', serif;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 20px;
}

.navbar li {
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.jumbotron {
     font-family: 'IM Fell DW Pica SC', serif;
     text-align: center;
     background-color: rgba(229,204,255, .2);
}

.jumbotron h1 {
     font-family: 'IM Fell DW Pica SC', serif;
     font-size: 100px;
}
.cryptid {
    padding-bottom: 20px;
    position: relative;
}

.glyphicon-ok {
    position: absolute;
    top: 25%;

    color: white;
    font-size: 110px;
    z-index:1;

}

.
