* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
    font-family: 'IM Fell DW Pica SC', serif;
}


h2 {
    font-family: 'IM Fell DW Pica SC', serif;
    text-align: center;
    color: white;
    background-color: #2a3e8e;
    padding: 10px 0px 10px 0px;

}

header{
    height: 50px;
    background-color:#2a3e8e;
}

.check{

    position: absolute;
    top:75px;
    left:110px;
    font-size: 110px;
    color:white;
}
