* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
    background: url(img/bokeh.jpg);
    font-family: 'IM Fell DW Pica SC', serif;
}

.navbar {
    font-size: 20px;
    font-family: 'IM Fell DW Pica SC', serif;
}

.nav nav-pills {
    display: inline-block;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: white;
    background: #2A3E8E;
    text-align: center;
    font-family: 'IM Fell DW Pica SC', serif
}

.jumbotron {
    background-color: rgba(208,10,255,.1);
    font-size: 20px;
    font-family: 'IM Fell DW Pica SC', serif
    text-align:center;
}

.jumbotron .headline {
    color: rgba(0,0,0,1);
    font-size: 40px;
    font-family: 'IM Fell DW Pica SC', serif
}

.jumbotron .bodycopy {
    color: rgba(0,0,0,1);
    font-size: 20px;
    font-family: 'IM Fell DW Pica SC', serif
}

.headline {
    font-size: 50px;
    font-weight: regular;
    font-family: 'IM Fell DW Pica SC', serif
}

.bodycopy {
    font-size: 20px;

}

.button {

}

.gallery {

}

.glyphicon glyphicon-ok {
    size: 100px;
    color: white;
}

.img-circle {
    padding: 10px
    margin: 10px;
}

.img-circle: hover {
    opacity: 50%;
}
